
body {
  background-color: #A9B0C9;
}

 h1 {
  background-color: #ffffff;
  height: 80px;
  text-align: center;
  color: red;
 }

 p {
  /* Rectangle 1: */
  background: #CA9D9D;
  border: 7px solid #000000;
  box-shadow: 30px 30px 12px 0px rgba(0,0,0,0.50);
  border-radius: 20px;
  padding: 12px;

 }

#krasser_link {

font-size: 30px;
}


.hidden {

  display: none;
}